= provide(:title, "#{current_user.mall.nombre } - Clientes")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      = current_user.mall.nombre
      \-
      Nuevo Cliente
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Clientes', clientes_path
      %li
        Registro de Cliente

.wrapper.wrapper-content.animated.fadeInRight
  = render 'form'