.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Locales Registrados
      = @mall.present? ? ' del '+@mall.nombre : nil
      %i.fa.fa-bars

    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Malls Registrados', malls_path
      %li
        Locales Registrados

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to "Nuevo Local", { controller: "locals", action: "new"}, class: "btn btn-mall btn-block"
          %hr
          .row
            .col-md-3.col-sm-offset-1
              = label_tag :ubicacion, class: 'control-label' do
                Nivel Ubicacion:
                &nbsp;
              = collection_select :ubicacion, "id", current_user.mall.nivel_malls, :id, :nombre, {include_blank: 'Todos'}, {class: 'form-control filtro_local'}
            .col-md-3
              = label_tag :tipo_local, class: 'control-label' do
                Tipo de Local:
                &nbsp;
              = collection_select :tipo_local, "id", TipoLocal.all, :id, :tipo, {include_blank: 'Todos'}, {class: 'form-control filtro_local'}
            .col-md-3
              = label_tag :tipo_estado_local, class: 'control-label' do
                Estado del Local:
                &nbsp;
              = select("tipo_estado_local", "tipo", Local.valid_tipo_estado_local, {include_blank: 'Todos'}, {:class => "form-control filtro_local"})
          %br
          %br
          %div#div_table_locals_index
            = render 'table_locals_index'
          .row#loading_table_index{style:'display:none;'}
            .col-lg-12.text-center
              %h2
                Aplicando Filtro
                %br
                %i.fa.fa-refresh.fa-spin.fa-2x
