<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>
      Locales Registrados del <%= @locals.first.mall.nombre %>
    </h2>
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', 'http://localhost:3000/' %></li>
      <li>
        Locales Registrados
      </li>
    </ol>
  </div>
</div>
<div class="row wrapper">
  <div class="col-md-3 col-sm-offset-1">
    <%= form_for(@local1,  :html => { :class => "form-horizontal" } ) do |f| %>
        <div class="form-group">
          <%= f.label :'Ubicacion - Nivel', class: ' control-label', for: 'local_nivel_mall_id' %>
          <%= f.collection_select(:nivel_mall_id, NivelMall.all, :id, :nombre, :onchange => 'llamar_funcion()') %>
        </div>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= form_for(@local2,  :html => { :class => "form-horizontal" } ) do |m| %>
        <div class="">
          <%= m.label :'Tipo de Local', class: 'control-label', for: 'local_tipo_local_id' %>
          <%= m.collection_select(:tipo_local_id, TipoLocal.all, :id, :tipo, :onchange => 'funcion_llamar()') %>

        </div>
    <% end %>
  </div>
</div>


<%= link_to 'Nuevo Local', new_local_path %>
<br><br>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Foto</th>
    <th>Nro. Local</th>
    <th>Direccion</th>
    <th>Nivel Ubicación</th>
    <th>Pasillo</th>
    <th>Área</th>
    <th>Tipo Local</th>
    <th>Propiedad Mall</th>
    <th colspan="3">Acciones</th>
  </tr>
  </thead>

  <tbody>
  <% @locals.each do |local| %>
      <tr>
        <td><%= local.foto %></td>
        <td><%= local.nro_local %></td>
        <td><%= local.direccion %></td>
        <td><%= local.nivel_mall.nombre %></td>
        <td><%= local.ubicacion_pasillo %></td>
        <td><%= local.area %></td>
        <td><%= local.tipo_local.tipo %></td>
        <td>
          <% if local.propiedad_mall
               @propiedad = 'Si'
             else
               @propiedad = 'No'
             end %>
          <%= @propiedad %>
        </td>
        <td><%= link_to 'Ver', local %></td>
        <td><%= link_to 'Editar', edit_local_path(local) %></td>
        <td><%= link_to 'Eliminar', local, method: :delete, data: { confirm: '¿Está seguro de eliminar?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


