= provide(:title, "#{current_user.mall.nombre } - Tiendas")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      = current_user.mall.nombre
      \- Tiendas
      %i.fa.fa-shopping-cart
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Tiendas
.wrapper.wrapper-content.animated.fadeInRight#pagina_index_tiendas
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to new_tienda_path, class: 'btn btn-mall btn-block ' do
                Nueva Tienda
                %i.fa.fa-plus
            .col-sm-3.col-sm-offset-6
              = link_to notificar_usuarios_mall_path, class: 'btn btn-danger pull-right' do
                Notificar Contratos Vencidos
                %i.fa.fa-envelope
          %br
          %br
          .row.form-horizontal
            .col-sm-4
              .form-group
                = label_tag :ubicacion, class: 'col-sm-4 control-label' do
                  Ubicación - Nivel Mall:
                  &nbsp;
                .col-sm-8
                  = collection_select :ubicacion, nil, current_user.mall.nivel_malls, :id, :nombre, {include_blank: 'Todos'}, {class: 'form-control tienda-filter', id:'nivel_mall_select_tiendas'}
            .col-sm-4
              .form-group
                = label_tag :actividad_economica, class: 'col-sm-4 control-label' do
                  Actividad Económica:
                  &nbsp;
                .col-sm-8
                  = collection_select :actividad_economica, nil, current_user.mall.actividad_economicas, :id, :nombre, {include_blank: 'Todas'}, {class: 'form-control tienda-filter', id:'actividad_economica_select_tiendas'}
            .col-sm-4
              .form-group
                = label_tag :contratos_alquiler, class: 'col-sm-4 control-label' do
                  Contratos de Alquiler:
                  &nbsp;
                .col-sm-8
                  = select_tag :contratos_alquiler, options_for_select([['Todos', ''],['Vencidos', 'vencidos'], ['Vigentes', 'vigentes']]), {class: 'form-control tienda-filter', id:'contratos_select_tiendas'}
          %br
          %br
          %div#div_table_tiendas_index
            = render 'table_tiendas_filter'
          .row#loading_table_index{style:'display:none;'}
            .col-lg-12.text-center
              %h2
                Aplicando Filtro
                %br
                %i.fa.fa-refresh.fa-spin.fa-2x
