= form_for(@banco) do |f|
  - if @banco.errors.any?
    #error_explanation
      %h2
        = pluralize(@banco.errors.count, "error")
        prohibited this banco from being saved:
      %ul
        - @banco.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :nombre
    %br/
    = f.text_field :nombre
  .actions
    = f.submit