<%= form_for(@nivel_mall) do |f| %>
  <% if @nivel_mall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nivel_mall.errors.count, "error") %> prohibited this nivel_mall from being saved:</h2>

      <ul>
      <% @nivel_mall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
