%p
  %strong Fecha Inicio del Contrato:
  = @tienda.contrato_alquilers.last.fecha_inicio_fix
  %p
    %strong Número de Contrato:
    = @tienda.contrato_alquilers.last.nro_contrato
  %p
    %strong Tipo de Canon de Alquiler:
    = @tienda.contrato_alquilers.last.tipo_canon_alquiler.tipo.humanize.titleize rescue ''
  - if @tienda.contrato_alquilers.last.tipo_canon_alquiler.tipo == 'canon_fijo'
    %p
      %strong Monto Canón Fijo en Bs.:
      = number_with_delimiter(@tienda.contrato_alquilers.last.canon_fijo_ml)
    %p
      %strong Monto Canón Fijo en $:
      = number_with_delimiter(@tienda.contrato_alquilers.last.canon_fijo_usd)
  - elsif @tienda.contrato_alquilers.last.tipo_canon_alquiler.tipo == 'variable_venta_bruta' || @tienda.contrato_alquilers.last.tipo_canon_alquiler.tipo == 'variable_venta_neta'
    %p
      %strong Porcentaje Canón por Ventas:
      = @tienda.contrato_alquilers.last.porc_canon_ventas
    %p
      %strong Monto Mínimo Ventas Mensual:
      = number_with_delimiter(@tienda.contrato_alquilers.last.monto_minimo_ventas)
  - else
    %p
      %strong Monto Canón Fijo en Bs:
      = number_with_delimiter(@tienda.contrato_alquilers.last.canon_fijo_ml)
    %p
      %strong Monto Canón Fijo en $:
      = number_with_delimiter(@tienda.contrato_alquilers.last.canon_fijo_usd)
    %p
      %strong Porcentaje Canón por Ventas:
      = @tienda.contrato_alquilers.last.porc_canon_ventas
    %p
      %strong Monto Mínimo Ventas Mensual:
      = number_with_delimiter(@tienda.contrato_alquilers.last.monto_minimo_ventas)
  %p
    %strong Archivo Contrato;
    - if @tienda.contrato_alquilers.last.archivo_contrato_pdf?
      = link_to @tienda.contrato_alquilers.last.archivo_contrato.url.split('/').last, @tienda.contrato_alquilers.last.archivo_contrato.url
    - else
      = link_to (image_tag @tienda.contrato_alquilers.last.archivo_contrato.url,heigth: 500, width: 100), @tienda.contrato_alquilers.last.archivo_contrato.url