<h1>Listing contrato_alquilers</h1>

<table>
  <thead>
    <tr>
      <th>Nro contrato</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Archivo contrato</th>
      <th>Canon fijo ml</th>
      <th>Canon fijo usd</th>
      <th>Porc canon ventas</th>
      <th>Estado contrato</th>
      <th>Tipo canon alquiler</th>
      <th>Tienda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contrato_alquilers.each do |contrato_alquiler| %>
      <tr>
        <td><%= contrato_alquiler.nro_contrato %></td>
        <td><%= contrato_alquiler.fecha_inicio %></td>
        <td><%= contrato_alquiler.fecha_fin %></td>
        <td><%= contrato_alquiler.archivo_contrato %></td>
        <td><%= contrato_alquiler.canon_fijo_ml %></td>
        <td><%= contrato_alquiler.canon_fijo_usd %></td>
        <td><%= contrato_alquiler.porc_canon_ventas %></td>
        <td><%= contrato_alquiler.estado_contrato %></td>
        <td><%= contrato_alquiler.tipo_canon_alquiler %></td>
        <td><%= contrato_alquiler.tienda %></td>
        <td><%= link_to 'Show', contrato_alquiler %></td>
        <td><%= link_to 'Edit', edit_contrato_alquiler_path(contrato_alquiler) %></td>
        <td><%= link_to 'Destroy', contrato_alquiler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contrato alquiler', new_contrato_alquiler_path %>
