<%= form_for(@venta_mensual) do |f| %>
  <% if @venta_mensual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venta_mensual.errors.count, "error") %> prohibited this venta_mensual from being saved:</h2>

      <ul>
      <% @venta_mensual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anio %><br>
    <%= f.number_field :anio %>
  </div>
  <div class="field">
    <%= f.label :mes %><br>
    <%= f.number_field :mes %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.text_field :monto %>
  </div>
  <div class="field">
    <%= f.label :montoNotasCredito %><br>
    <%= f.text_field :montoNotasCredito %>
  </div>
  <div class="field">
    <%= f.label :montoBruto %><br>
    <%= f.text_field :montoBruto %>
  </div>
  <div class="field">
    <%= f.label :montoBrutoUSD %><br>
    <%= f.text_field :montoBrutoUSD %>
  </div>
  <div class="field">
    <%= f.label :montoCostoVenta %><br>
    <%= f.text_field :montoCostoVenta %>
  </div>
  <div class="field">
    <%= f.label :montoNeto %><br>
    <%= f.text_field :montoNeto %>
  </div>
  <div class="field">
    <%= f.label :montoNetoUSD %><br>
    <%= f.text_field :montoNetoUSD %>
  </div>
  <div class="field">
    <%= f.label :editable %><br>
    <%= f.check_box :editable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
