<h1>Listing venta_mensuals</h1>

<table>
  <thead>
    <tr>
      <th>Anio</th>
      <th>Mes</th>
      <th>Monto</th>
      <th>Montonotascredito</th>
      <th>Montobruto</th>
      <th>Montobrutousd</th>
      <th>Montocostoventa</th>
      <th>Montoneto</th>
      <th>Montonetousd</th>
      <th>Editable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta_mensuals.each do |venta_mensual| %>
      <tr>
        <td><%= venta_mensual.anio %></td>
        <td><%= venta_mensual.mes %></td>
        <td><%= venta_mensual.monto %></td>
        <td><%= venta_mensual.montoNotasCredito %></td>
        <td><%= venta_mensual.montoBruto %></td>
        <td><%= venta_mensual.montoBrutoUSD %></td>
        <td><%= venta_mensual.montoCostoVenta %></td>
        <td><%= venta_mensual.montoNeto %></td>
        <td><%= venta_mensual.montoNetoUSD %></td>
        <td><%= venta_mensual.editable %></td>
        <td><%= link_to 'Show', venta_mensual %></td>
        <td><%= link_to 'Edit', edit_venta_mensual_path(venta_mensual) %></td>
        <td><%= link_to 'Destroy', venta_mensual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venta mensual', new_venta_mensual_path %>
