<p id="notice"><%= notice %></p>

<p>
  <strong>Anio:</strong>
  <%= @venta_mensual.anio %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @venta_mensual.mes %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @venta_mensual.monto %>
</p>

<p>
  <strong>Montonotascredito:</strong>
  <%= @venta_mensual.montoNotasCredito %>
</p>

<p>
  <strong>Montobruto:</strong>
  <%= @venta_mensual.montoBruto %>
</p>

<p>
  <strong>Montobrutousd:</strong>
  <%= @venta_mensual.montoBrutoUSD %>
</p>

<p>
  <strong>Montocostoventa:</strong>
  <%= @venta_mensual.montoCostoVenta %>
</p>

<p>
  <strong>Montoneto:</strong>
  <%= @venta_mensual.montoNeto %>
</p>

<p>
  <strong>Montonetousd:</strong>
  <%= @venta_mensual.montoNetoUSD %>
</p>

<p>
  <strong>Editable:</strong>
  <%= @venta_mensual.editable %>
</p>

<%= link_to 'Edit', edit_venta_mensual_path(@venta_mensual) %> |
<%= link_to 'Back', venta_mensuals_path %>
