= form_for @precio_servicio, html: {id: 'form_precio_servicio'} do |f|
  = render 'shared/error_messages', object: f.object, model: 'PrecioServicio'
  .row
    .col-md-12
      .ibox.float-e-margins
        .ibox-content.form-horizontal
          .form-group
            = f.label :fecha, "Fecha: ", class: 'col-sm-2 control-label'
            .col-sm-10
              #datepicker.input-daterange.input-group
                = f.text_field :fecha,:value => "#{Date.today.strftime("%d/%m/%Y")}", class: 'input-sm form-control', id: 'fecha_calendario_precio'

          .form-group
            = f.label :precio_usd, "Precio (USD): ", class: 'col-sm-2 control-label'
            .col-sm-10
              = f.text_field :precio_usd, autofocus: true, class: 'form-control'
          .form-group
            = f.label :tipo_servicio_id, "Servicio de Software: ", class: 'col-sm-2 control-label'
            .col-sm-10
              = f.select :tipo_servicio_id, options_from_collection_for_select(TipoServicio.all, :id, :tipo_humanize, selected: f.object.tipo_servicio_id.present? ? f.object.tipo_servicio_id : nil) ,{include_blank: 'Seleccione un Tipo de Servicio'}, {class: 'form-control'}
          .form-group
            = f.label :tipo_contrato_servicio_id, "Tipo de Contrato de Servicio: ", class: 'col-sm-2 control-label'
            .col-sm-10
              = f.select :tipo_contrato_servicio_id, options_from_collection_for_select(TipoContratoServicio.all, :id, :tipo_humanize, selected: f.object.tipo_contrato_servicio_id.present? ? f.object.tipo_contrato_servicio_id : nil) ,{include_blank: 'Seleccione un Tipo de Contrato de Servicio'}, {class: 'form-control'}
          .form-group
            .col-sm-3.col-sm-offset-9
              = f.hidden_field :mall_id, :value => @mall.id
              = f.hidden_field :fecha, :value => Date.today
              = f.submit "Guardar", class: "btn btn-warning btn-block"
