.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Gestion de Precio de Servicios
      %i.fa.fa-money

    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Precios de Servicios

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to "Nuevo Precio de Servicio", { controller: "precio_servicios", action: "new" }, class: "btn btn-mall btn-block"
          %hr
          %br
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover.dataTables-example
                %thead
                  %tr
                    %th Fecha
                    %th Precio (USD)
                    %th Servicio
                    %th Tipo Contrato
                    %th Acciones
                %tbody
                  - @precio_servicios.each do |precio|
                    %tr
                      %td= precio.fecha.strftime("%d-%m-%Y")
                      %td= number_with_precision(precio.precio_usd, precision: 2, separator: ',', delimiter: '.')
                      %td= precio.tipo_servicio.tipo_humanize
                      %td= precio.tipo_contrato_servicio.tipo_humanize
                      %td
                        = link_to edit_precio_servicio_path(precio) do
                          %i.fa.fa-pencil
                          Editar
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        = link_to precio, data: { confirm: "Seguro que desea eliminar el precio del servicio ?" }, method: :delete do
                          %i.fa.fa-trash
                          Eliminar