<h1 class="title-file">Gestion de Actividades Económicas</h1>
<hr>
<%= link_to 'Nueva', new_actividad_economica_path %>
<br><br>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="55%">Nombre</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @actividad_economicas.each do |actividad_economica| %>
      <tr>
        <td><%= actividad_economica.nombre %></td>
        <td><%= link_to 'Ver', actividad_economica %></td>
        <td><%= link_to 'Editar', edit_actividad_economica_path(actividad_economica) %></td>
        <td><%= link_to 'Eliminar', actividad_economica, method: :delete, data: { confirm: '¿Está seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


