.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Reporte de Pagos Mensuales de Alquiler
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Pagos Mensuales de Alquiler

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-md-3
              .col-md-5.col-sm-3.col-xs-5
                = form_tag(@lapso_year, :html => { :class => "form-horizontal" } ) do |f|
                  = select_year(Date.today, options = { :start_year => Time.now.year, :end_year => Time.now.year - 5, :field_name => 'lapso_year'}, :class => 'actualizar_auditoria_ventas')
          %br
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover#table_auditoria_ventas
                %thead
                  %tr
                    %th.text-center{width: '8%'}
                      Mes
                    %th.text-center{width: '5%'}
                      Cobranza
                    %th.text-center{width: '7%'}
                      Pagado x Canon Fijo
                    %th.text-center{width: '8%'}
                      Pagado x Porc Ventas
                    %th.text-center{width: '15%'}
                      Total Pagado
                    %th.text-center{width: '15%'}
                      Total Pagado (USD)
                    %th.text-center{width: '15%'}
                      Monto x Cobrar
                    %th.text-center{width: '15%'}
                      Acciones
                %tbody#tbody_pagos_alquiler
                %tfoot
                  %tr
                    %th{colspan: 4}
                      TOTAL
                    %td
                      = text_field_tag :monto_canon_fijo, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
                    %td
                      = text_field_tag :total_ventas_mes, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
                    %td
                      = text_field_tag :monto_canon_x_venta, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
                    %td
                      = text_field_tag :total_canon, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'

