.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Reporte de Pagos Alquiler x Tienda
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Reporte de Pagos Alquiler x Tienda

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-md-4
              .col-md-5.col-sm-3.col-xs-3
                = form_tag(@lapso_year, :html => { :class => "form-horizontal" } ) do |f|
                  = select_year(Date.today, options = { :start_year => Time.now.year, :end_year => Time.now.year - 5, :field_name => 'lapso_year'}, :class => 'actualizar_pagos_alquiler')
              .col-md-5
                = form_tag(@lapso_month, :html => { :class => "form-horizontal" } ) do |f|
                  = select_month(@month || Date.today, options = { use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre), :field_name => 'select_month', :prefix => 'pagos_alquiler'}, :class => 'actualizar_pagos_alquiler')
          %br
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover#table_pagos_mall
                %thead#thead_top
                  %tr
                    %td.vacia
                    %th.text-center{colspan: 3}
                      Cobranza
                    %th.text-center{colspan: 4}
                      Pago
                %thead
                  %tr
                    %th.text-center{width: '10%'}
                      Tienda
                    %th.text-center{width: '8%'}
                      Nro Recibo
                    %th.text-center{width: '15%'}
                      Fecha Cobro
                    %th.text-center{width: '18%'}
                      Monto
                    %th.text-center{width: '6%'}
                      Cancelado
                    %th.text-center{width: '6%'}
                      Abonado
                    %th.text-center{width: '18%'}
                      Monto Pago
                    %th.text-center{width: '18%'}
                      Monto x Cobrar
                %tbody#tbody_pagos_alquiler
                  - if !@cobranza_alquilers[0][:cobranza].blank?
                    - @cobranza_alquilers.each do |cobranzas|
                      -cobranzas[:cobranza].each do |cobranza|
                        - if cobranza.saldo_deudor == 0
                          - @pagado = true
                          - @abonado = false
                          - @monto = cobranza.monto_alquiler
                          - @monto_pagado = @monto
                          - @monto_x_cobrar = 0
                        - else
                          - @pagado = false
                          - @abonado = true
                          - @monto = cobranza.monto_alquiler
                          - @monto_x_cobrar = cobranza.saldo_deudor
                          - @monto_pagado = @monto - @monto_x_cobrar
                        %tr
                          %td= cobranza.tienda.nombre
                          %td{ :class => 'text-center' }
                            = cobranza.nro_recibo
                          %td= cobranza.fecha_recibo_cobro.strftime("%d/%m/%Y")
                          %td{ :class => 'text-right' }
                            = number_with_delimiter(@monto)
                          %td{ :class => 'text-center' }
                            = check_box_tag 'alquiler_pago', 'Pago Realizado', @pagado, disabled: true
                          %td{ :class => 'text-center' }
                            = check_box_tag 'alquiler_pago', 'Pago Realizado', @abonado, disabled: true
                          %td{ :class => 'text-right' }
                            = number_with_delimiter(@monto_pagado)
                          %td{ :class => 'text-right' }
                            = number_with_delimiter(@monto_x_cobrar)
                  - else
                    %tr
                      %td.text-center{colspan: 8}= 'No existen registros de pago para este periodo'
                %tfoot#tfoot_pagos_alquiler
                  - if !@cobranza_alquilers.blank?
                    %tr
                      %td{colspan: 2}
                      %th
                        Total:
                      %td#td_suma_monto_alquiler
                        = text_field_tag :input_suma_monto_alquiler,number_with_delimiter(@suma_monto_alquiler), class: 'form-control', readonly: 'readonly'
                      %td{colspan: 2}
                      %td#td_suma_monto_pagado
                        = text_field_tag :input_suma_monto_pagado, number_with_delimiter(@suma_monto_pagado), class: 'form-control', readonly: 'readonly'
                      %td#td_suma_monto_x_cobrar
                        = text_field_tag :input_suma_monto_x_cobrar, number_with_delimiter(@suma_monto_x_cobrar), class: 'form-control', readonly: 'readonly'

