.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Nuevo Pago Alquiler

    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Registro de Pago Alquiler x Cheque o Efectivo

.wrapper.wrapper-content
  .row.animated.fadeInRight
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Registro de Pago Alquiler x Cheque o Efectivo
        .ibox-content
          = form_for(@pago_alquiler, url: {action: :create}, html: {class:"form-horizontal m-t-md", id: "form_registro_pago_cheque", :multipart => true}) do |f|
            - if @pago_alquiler.errors.any?
              #error_explanation
                %h2
                  = pluralize(@pago_alquiler.errors.count, "error")
                  prohibited this local from being saved:
                %ul
                  - @pago_alquiler.errors.full_messages.each do |message|
                    %li
                      = message
            .row
              .col-md-12
                .form-group
                  .col-md-2
                    = label_tag :tienda do
                      Tienda:
                  .col-md-3
                    = collection_select :tienda, "id", Tienda.valid_tiendas(current_user), :id, :nombre, {selected: @tienda_id, include_blank: 'Seleccione una Tienda'}, {class: 'form-control tabla_fact_tienda'}

            .row
              .col-md-12
                .col-lg-2
                  Facturas x Pagar
                .col-md-9
                  %table.table.table-striped.table-bordered.table-hover#table_facturas_pendientes
                    %thead
                      %tr
                        %th{width: '15%'} Fecha
                        %th Nro Factura
                        %th Monto Factura
                        %th Pago Total
                        %th Abono
                        %th Monto
                    %tbody.tbody_facturas_pendientes
                      = render :partial => "new_cheque_efect"
                    %tfoot
                      %td{colspan: 2, style: "text-align: right"}
                        Por Pagar
                      %td.total_x_pagar
                        = text_field_tag :total_x_pagar, @total_x_pagar_v, class: 'form-control', readonly: 'readonly'
                      %td{colspan: 2, style: "text-align: right"}
                        Total a Pagar
                      %td.total_a_pagar
                        = text_field_tag :total_a_pagar, '', class: 'form-control', readonly: 'readonly', campo: @id_fact.to_s
            .row
              .col-md-12
                .form-group
                  = label_tag :monto_campo,class: 'col-sm-2 control-label' do
                    Monto a Pagar:
                  .col-sm-10
                    = text_field_tag :monto_campo,{},class: 'form-control monto_numerico', readonly: 'readonly', id: 'monto_cheque'
                .form-group
                  = f.label :fecha, "Fecha de Pago:", class: 'col-sm-2 control-label'
                  .col-sm-10
                    #datepicker.input-daterange.input-group
                      = f.text_field :fecha,class: 'input-sm form-control',:value => "#{Date.today.strftime("%d/%m/%Y")}",  id: 'fecha_pago'
                .form-group
                  = f.label :tipo_pago, "Forma de Pago: ", class: 'col-sm-2 control-label'
                  .col-sm-10
                    = f.select(:tipo_pago, PagoAlquiler.valid_forma_pago.map { |x| [x.humanize.titleize, x]}, {selected: f.object.tipo_pago, include_blank: 'Seleccione una Forma de Pago'}, html_options = {class: 'form-control'})
                %div#rowNumero{style: (f.object.tipo_pago == 'Cheque') ? '' : 'display:none'}
                  .form-group
                    = f.label :nro_cheque_confirmacion, "Nro Cheque:", class: 'col-sm-2 control-label'
                    .col-sm-10
                      = f.text_field :nro_cheque_confirmacion, class: "form-control", id: 'input_cheque_nro_confirmacion'
                %div#rowBanco{style: (f.object.tipo_pago == 'Cheque') ? '' : 'display:none'}
                  .form-group
                    = f.label :banco_emisor, "Cheque del Banco:", class: 'col-sm-2 control-label'
                    .col-sm-10
                      = f.text_field :banco_emisor, class: "form-control"
                .form-group
                  = f.label :cuenta_bancaria, "Nro. Cuenta a Depositar: ", class: 'col-sm-2 control-label'
                  .col-sm-10
                    .group-show
                      = f.select(:cuenta_bancaria_id,{},{include_blank: 'Seleccione la cuenta bancaria'},html_options = {class: "form-control"})  do
                        - CuentaBancarium.all.each do |c|
                          = content_tag(:option, c.banco.nombre+'  '+c.nro_cta, value: c.id)
                        - {class: "form-control"}
                .form-group
                  .col-sm-3.col-sm-offset-9
                    = f.submit "Guardar", id: "btn_guardar", class: "btn btn-warning btn-block"