.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Registro de Pago Alquiler:
      = current_user.mall.nombre

    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Registro de Pago Alquiler en Cheque o Efectivo

.wrapper.wrapper-content
  .row.animated.fadeInRight
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Registro de Pago Alquiler en Cheque o Efectivo
        .ibox-content
          = form_for(@pago_alquiler, url: {action: :create_cheque}, html: {class:"form-horizontal m-t-md", id: "form_registro_pago_cheque"}) do |f|
            - if @pago_alquiler.errors.any?
              #error_explanation
                %h2
                  = pluralize(@pago_alquiler.errors.count, "error")
                  prohibited this local from being saved:
                %ul
                  - @pago_alquiler.errors.full_messages.each do |message|
                    %li
                      = message
            .form-group
              = f.label :nombre, "Tienda: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.collection_select(:tienda, Tienda.valid_tiendas(current_user), :id, :nombre, {selected: f.object.tienda_id, include_blank: 'Seleccione una Tienda'}, class: 'form-control')
            .form-group
              = f.label :fecha_alquiler, "Año/Mes Alquiler: ", class: 'col-sm-2 control-label'
              .col-sm-6
                = select_month(Date.today, options = { use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre), :field_name => 'mes_alquiler', :prefix => 'pago_alquiler'})
                = select_year(Date.today, options = { :start_year => Time.now.year, :end_year => Time.now.year - 5, :field_name => 'anio_alquiler', :prefix => 'pago_alquiler'})
            .form-group
              = f.label :monto_alquiler_ml, "Monto del Pago: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :monto_alquiler_ml, class: 'form-control', placeholder: 'Ej. 9999,99'
            .form-group
              = f.label :fecha_pago, "Fecha pago", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :fecha_pago, class: "input-sm form-control", id: 'fecha_pago'
            .form-group
              = f.label :tipo_pago, "Forma de Pago: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.select(:tipo_pago, PagoAlquiler.valid_forma_pago.map { |x| [x.humanize.titleize, x]}, {selected: f.object.tipo_pago, include_blank: 'Seleccione una Forma de Pago'}, html_options = {class: 'form-control'})
            %div#rowCuenta{style: (f.object.tipo_pago == 'Cheque') ? '' : 'display:none'}
              .form-group
                = f.label :cuenta_bancaria, "Nro. Cuenta a Depositar: ", class: 'col-sm-2 control-label'
                .col-sm-10
                  .group-show
                    = f.select(:cuenta_bancaria_id,{},{ include_blank: 'Seleccione la cuenta bancaria'},html_options = {class: "form-control"})  do
                      - CuentaBancarium.all.each do |c|
                        = content_tag(:option, c.banco.nombre+'  '+c.nroCta, value: c.id)
                      - {class: "form-control"}
            %div#rowNumero{style: (f.object.tipo_pago == 'Cheque') ? '' : 'display:none'}
              .form-group
                = f.label :nro_cheque_confirmacion, "Nro Cheque:", class: 'col-sm-2 control-label'
                .col-sm-10
                  = f.text_field :nro_cheque_confirmacion, class: "form-control", id: 'input_cheque_nro_confirmacion'
            %div#rowBanco{style: (f.object.tipo_pago == 'Cheque') ? '' : 'display:none'}
              .form-group
                = f.label :nombre_banco, "Nombre Banco del Cheque:", class: 'col-sm-2 control-label'
                .col-sm-10
                  = f.text_field :nombre_banco, class: "form-control"
            .form-group
              .col-sm-3.col-sm-offset-9
                = f.submit "Guardar", class: "btn btn-warning btn-block"