<%= form_for(@cambio_moneda) do |f| %>
  <% if @cambio_moneda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cambio_moneda.errors.count, "error") %> prohibited this cambio_moneda from being saved:</h2>

      <ul>
      <% @cambio_moneda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :cambio_ml_x_usd %><br>
    <%= f.text_field :cambio_ml_x_usd %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>
