= provide(:title, "#{current_user.mall.nombre } - Mall Users")
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      = current_user.mall.nombre
      \- Gestión de Usuarios Mall
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Gestión de Usuarios Mall

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to 'Nuevo Usuario Mall', new_mall_user_path, class: 'btn btn-mall btn-block'
          %br
          .row
            .col-md-12
              .table-responsive
                %table.table.table-striped.table-bordered.table-hover
                  %thead
                    %tr
                      %th Avatar
                      %th Username
                      %th Email
                      %th Nombre
                      %th Teléfono Celular
                      %th Mall
                      %th Rol
                      %th Acciones
                  %tbody
                    - @mall_users.each do |user|
                      %tr
                        %td.text-center= image_tag user.avatar.url || 'building-avatar.gif', class: 'img-circle', height: 50
                        %td= user.username
                        %td= user.email
                        %td= user.name
                        %td= user.cellphone
                        %td= user.mall.nombre rescue nil
                        %td= user.role.name_type
                        %td
                          = link_to edit_mall_user_path(user) do
                            %i.fa.fa-pencil
                            Editar
                          &nbsp;
                          &nbsp;
                          &nbsp;
                          = link_to mall_user_path(user), data: { confirm: "Seguro que desea eliminar al usuario #{user.username}?" }, method: :delete do
                            %i.fa.fa-trash
                            Eliminar