.row
  .col-lg-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-lg-12
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover.datatable_estadisticas
                %thead
                  %tr
                    %td Criterio
                    %td Monto en Ventas
                    %td Ingresos por Canón Fijo
                    %td Ingresos por Porcentaje de Ventas
                    %td Total de Ingresos
                    %td Total de Ingresos (USD $)
                %tbody
                  - @estadisticas.each do |estadistica|
                    %tr
                      %td= estadistica[:criterio]
                      %td= estadistica[:ventas] || '0'
                      %td= estadistica[:canon_fijo_ml] || '0'
                      %td= estadistica[:porc_canon] || '0'
                      %td= estadistica[:total] || 0
                      %td= estadistica[:total_usd].round(2) || 0