.row
  .col-lg-12
    .ibox.float-e-margins
      .ibox-content
        .row
          .col-lg-12
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover.datatable_estadisticas
                %thead
                  %tr
                    %td Mes
                    %td Monto en Ventas
                    %td Ingresos por Canón Fijo
                    %td Ingresos por Porcentaje de Ventas
                    %td Total de Ingresos
                    %td Total de Ingresos (USD $)
                %tbody
                  - @estadisticas.each do | estadistica|
                    %tr
                      %td= estadistica[:mes]
                      %td= number_with_delimiter(estadistica[:venta_diaria]) || '0'
                      %td= number_with_delimiter(estadistica[:canon_fijo_ml]) || '0'
                      %td= number_with_delimiter(estadistica[:porc_canon]) || '0'
                      %td= number_with_delimiter(estadistica[:total]) || 0
                      %td= number_with_delimiter(estadistica[:total] * CambioMoneda.last.cambio_ml_x_usd)