= form_for(@cuenta_bancarium) do |f|
  - if @cuenta_bancarium.errors.any?
    #error_explanation
      %h2
        = pluralize(@cuenta_bancarium.errors.count, "error")
        prohibited this cuenta_bancarium from being saved:
      %ul
        - @cuenta_bancarium.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :nro_cta
    %br/
    = f.text_field :nro_cta
  .field
    = f.label :tipo_cuenta
    %br/
    = f.text_field :tipo_cuenta
  .field
    = f.label :beneficiario
    %br/
    = f.text_field :beneficiario
  .field
    = f.label :doc_identidad
    %br/
    = f.text_field :doc_identidad
  .field
    = f.label :banco
    %br/
    = f.select :banco_id, options_from_collection_for_select(Banco.all, :id, :nombre, selected: f.object.banco_id || nil), {include_blank: 'Seleccione un Banco'}
  %br/
  .actions
    = f.submit
