<%= form_for(@cuenta_bancarium) do |f| %>
  <% if @cuenta_bancarium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuenta_bancarium.errors.count, "error") %> prohibited this cuenta_bancarium from being saved:</h2>

      <ul>
      <% @cuenta_bancarium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nro_cta %><br>
    <%= f.text_field :nro_cta %>
  </div>
  <div class="field">
    <%= f.label :tipo_cuenta %><br>
    <%= f.text_field :tipo_cuenta %>
  </div>
  <div class="field">
    <%= f.label :beneficiario %><br>
    <%= f.text_field :beneficiario %>
  </div>
  <div class="field">
    <%= f.label :doc_identidad %><br>
    <%= f.text_field :doc_identidad %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
