%h1 Listing cuenta_bancaria
%table
  %thead
    %tr
      %th Nrocta
      %th Tipocuenta
      %th Beneficiario
      %th Docidentidad
      %th Banco
      %th{:colspan => "3"}
  %tbody
    - @cuenta_bancaria.each do |cuenta_bancarium|
      %tr
        %td= cuenta_bancarium.nro_cta
        %td= cuenta_bancarium.tipo_cuenta
        %td= cuenta_bancarium.beneficiario
        %td= cuenta_bancarium.doc_identidad
        %td= cuenta_bancarium.banco.nombre rescue nil
        %td= link_to 'Show', cuenta_bancarium
        %td= link_to 'Edit', edit_cuenta_bancarium_path(cuenta_bancarium)
        %td= link_to 'Destroy', cuenta_bancarium, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Cuenta bancarium', new_cuenta_bancarium_path
