.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Cuentas Bancarias

    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Cuentas Bancarias

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-sm-3
              = link_to "Nueva Cuenta Bancaria", { controller: "cuenta_bancaria", action: "new" }, class: "btn btn-mall btn-block"
          %hr
          %br
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover.dataTables-example
                %thead
                  %tr
                    %th Nro Cuenta
                    %th Tipo Cuenta
                    %th Beneficiario
                    %th Doc Identidad
                    %th Banco
                    %th Acciones
                %tbody
                  - @cuenta_bancarias.each do |cuenta|
                    %tr
                      %td= cuenta.nro_cta
                      %td= cuenta.tipo_cuenta
                      %td= cuenta.beneficiario
                      %td= cuenta.doc_identidad
                      %td= cuenta.banco.nombre rescue nil
                      %td
                        = link_to edit_cuenta_bancarium_path(cuenta) do
                          %i.fa.fa-pencil
                          Editar
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        = link_to cuenta, data: { confirm: "Seguro que desea eliminar la Cuenta Bancaria ?" }, method: :delete do
                          %i.fa.fa-trash
                          Eliminar

