<p id="notice"><%= notice %></p>

<p>
  <strong>Nrocta:</strong>
  <%= @cuenta_bancarium.nroCta %>
</p>

<p>
  <strong>Tipocuenta:</strong>
  <%= @cuenta_bancarium.tipoCuenta %>
</p>

<p>
  <strong>Beneficiario:</strong>
  <%= @cuenta_bancarium.beneficiario %>
</p>

<p>
  <strong>Docidentidad:</strong>
  <%= @cuenta_bancarium.docIdentidad %>
</p>

<%= link_to 'Edit', edit_cuenta_bancarium_path(@cuenta_bancarium) %> |
<%= link_to 'Back', cuenta_bancaria_path %>
