.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Reporte de Ventas del Mall x Tiendas
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        Reporte de Ventas del Mall x Tiendas

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-content
          .row
            .col-md-3
              .col-md-5.col-sm-3.col-xs-5
                = form_tag(@lapso_year, :html => { :class => "form-horizontal" } ) do |f|
                  = select_year(Date.today, options = { :start_year => Time.now.year, :end_year => Time.now.year - 5, :field_name => 'lapso_year'}, :class => 'actualizar_auditoria_ventas')
              .col-md-5.col-sm-3.col-xs-5
                = form_tag(@lapso_month, :html => { :class => "form-horizontal" } ) do |f|
                  = select_month(Date.today, options = { use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre), :field_name => 'select_month', :prefix => 'ventas'}, :class => 'actualizar_auditoria_ventas')
            .col-md-4
              -@suma = number_with_precision(0, precision: 2, separator: ',', delimiter: '.')
              .form-group
                .col-md-5
                  = label_tag :total_ventas_mes do
                    Total Ventas:
                .col-md-7
                  -@suma = number_with_precision(0, precision: 2, separator: ',', delimiter: '.')
                  = text_field_tag :total_ventas_mes, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
            .col-md-4
              .form-group
                .col-md-5
                  = label_tag :monto_canon_fijo do
                    Monto Canon Fijo:
                .col-md-7
                  = text_field_tag :monto_canon_fijo, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
          .row
            .col-md-4.col-sm-offset-3
              .form-group
                .col-md-5
                  = label_tag :monto_canon_x_venta do
                    Monto Canon x Venta:
                .col-md-7
                  = text_field_tag :monto_canon_x_venta, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
            .col-md-4
              .form-group
                .col-md-5
                  = label_tag :total_canon do
                    Total Canon:
                .col-md-7
                  = text_field_tag :total_canon, @suma, autofocus: true, class: 'form-control', readonly: 'readonly'
          %br
          .row
            .col-md-12
              %table.table.table-striped.table-bordered.table-hover#table_mall_ventas
                %thead
                  %tr
                    %th.text-center{width: '8%'}
                      Tienda
                    %th.text-center{width: '5%'}
                      Actividad Economica
                    %th.text-center{width: '7%'}
                      Local
                    %th.text-center{width: '7%'}
                      Nivel Ubicacion
                    %th.text-center{width: '8%'}
                      Tipo Canon
                    %th.text-center{width: '13%'}
                      Canon Fijo
                    %th.text-center{width: '13%'}
                      Monto Venta
                    %th.text-center{width: '13%'}
                      Canon x Ventas
                    %th.text-center{width: '13%'}
                      Total Canon
                    %th.text-center{width: '6%'}
                %tbody#tbody_mall_ventas
