.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    %h2
      Nuevo Usuario
    %ol.breadcrumb
      %li
        = link_to 'Inicio', root_url
      %li
        = link_to 'Usuarios Registrados', users_index_path
      %li
        Registro de Usuario

.wrapper.wrapper-content
  .row.animated.fadeInRight
    .col-md-12
      .ibox.float-e-margins
        .ibox-title
          %h3
            Registro de Nuevo Usuario
        .ibox-content
          = form_for(@user, as: resource_name, url: {action: :create_user}, html: {class:"form-horizontal m-t-md", id: "form_registro_user"}) do |f|
            = devise_error_messages!
            .form-group
              = f.label :username, "Login: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.text_field :username, autofocus: true, class: 'form-control'
            .form-group
              = f.label :password, "Contraseña: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.password_field :password, autocomplete: "off", class: 'form-control'
                %span.help-block.m-b-none
                  La contraseña debe tener un mínimo de 8 caracteres.
            .form-group
              = f.label :password_confirmation, "Confirme Contraseña: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
            .form-group
              = f.label :email, "Correo Electrónico: ", class: 'col-sm-2 control-label'
              .col-sm-10
                = f.email_field :email, class: "form-control"
            -#.form-group
            -#  = label_tag "Roles: ", "Roles: ", class: 'col-sm-2 control-label'
            -#  .col-sm-10
            -#    %table
            -#      %tbody
            -#      = f.collection_check_boxes :rol_ids, Rol.all, :id, :nombre do |r|
            -#        %tr
            -#          %td= r.label
            -#          %td= r.check_box
            .form-group
              .col-sm-3.col-sm-offset-9
                = f.submit "Guardar", class: "btn btn-warning btn-block"